
@import "reset";
a {
	text-decoration: none;
}
@font-face {
    font-family: 'robotolight';
    src: url('3962-webfont.woff2') format('woff2'),
         url('3962-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$body-font: normal 13px robotolight;
$body-font-color: #000000;
$header-font-color: #fefefe;
$background-contacts: #282828;
$display-inline-block: inline-block;
$height-contacts: 40px;
$navigation-menu-height: 2 * $height-contacts;
$green-color: #5db442;
$intro-wrapper-color: #4ca368;
$border-radius: 17px;
$white-color: #ffffff;
$grey-color: #333333;
$or-width: 20px;
$service-package-radius: 14px;
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@mixin font-robotoregular-black {
 	font: normal 14px 'robotoregular';
	color: #000000;
}	
@mixin center {
	margin: 0 auto;
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
@mixin h2 {
	padding-top: 85px;
	padding-bottom: 35px;
	font: $body-font;
	font-size: 48px;
	color: $body-font-color;
	}		
@mixin p {
	font: $body-font;
	font-size: 16px;
	line-height: 25px;
	color: $body-font-color;
}
@mixin border-input {
	border: 2px solid #37804e;
}
@mixin sliders {
	width: 28px;
	height: 14px;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: left;
}
.wrapper-contacts {
	background-color: $background-contacts;	
}
.contacts {
	@include center;
	height: $height-contacts;
	line-height: $height-contacts;
	vertical-align: middle;
	.social-link {
		float: left;
		li {
		display:$display-inline-block;
		margin-right: 7px;
		}
	}
	.telephone, .e-mail {
		float: right;
		display: $display-inline-block;
		font: $body-font;
		color: $header-font-color;
		line-height: $height-contacts;
		vertical-align: middle;
		&:before {
		content: "";
		vertical-align: middle;
		display: inline-block;
		background-repeat: no-repeat;	
		}
	}
}
@each $social-link in facebook, twitter, google, linkenIn {
	.#{$social-link}-icon {
		height: 12px;
		display: block;
		background-image: url('img/#{$social-link}.png');
	}	
}
.facebook-icon {
	width: 7px;
}
.twitter-icon {
	width: 11px;
}
.google-icon {
	width: 12px;
}
.linkenIn-icon {
	width: 12px;
}
.telephone {
	padding-right: 40px;
}
.telephone {
	&:before {
		margin-right: 10px;
		width: 12px;
		height: 12px;
		background-image: url(img/telephone.png);
		
	}	
}
.e-mail {
	&:before {
		margin-right: 5px;
		width: 14px;
		height: 11px;
		background-image: url(img/e-mail.png);
	}
}
.navigation-menu {
	@include center;
	height: $navigation-menu-height;
	line-height: $navigation-menu-height;
	vertical-align: middle;
}
.logo {

	float: left;	
	line-height: $navigation-menu-height;
	a {
		display: block;
		img {
			display: inline-block;
			vertical-align: middle;
		}		
	}
}
.navigation {
	float: right;
	li {
		margin-right: 47px;
		display: $display-inline-block;
		&:last-child {
			margin-right: 0;
			a {
			padding: 5px 25px;
			color: $green-color;
			border-radius: 13px;
			border: 1px solid $green-color;
			}
		}
	}
}
.navigation-item {
			@include font-robotoregular-black;
		}

.intro-wrapper {
	background-color: $intro-wrapper-color;
}
.intro {
	@include center;
	text-align: center;
}
h2 {
	@include h2;
	}		
p {
	@include p;
}	
.intro h2 {
	padding-bottom: 15px;
	padding-top: 90px;
}
.intro-img {
	padding-top: 35px;
	padding-bottom: 81px;
}
.input {
	padding-botton: 15px;
	input {
		@include border-input;
		padding: 0;
		padding-left: 20px;
		width: 210px - 20px;
		height: 31px;
		font: $body-font;
		font-size: 14px;
		border-right: none;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		&::-webkit-input-placeholder {
			color: #cccccc;
		}
		&::-moz-placeholder {
    		color: #cccccc;
		}
	}
	button {
		@include border-input;
		width: 80px;
		height: 35px;
		font: $body-font;
		font-size: 14px;
		color: $white-color;
		background-color: #37804e;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

	}
}
.terms-agree {
	padding-bottom: 70px;
	padding-top: 13px;
	font: normal 14px 'robotothin';
	color: $white-color;
}
.wrapper-sign-up {
	background-color: #ececec;
}
.sign-up {
	@include center;
	padding-bottom: 100px;
}
.slide {
	margin: 0 auto;
	max-width:  630px;
	background-color: $white-color;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(64,64,64,0.3);
	-moz-box-shadow: 0px 0px 6px 2px rgba(64,64,64,0.3);
	box-shadow: 0px 0px 6px 2px rgba(64,64,64,0.3);
	.slide-center {
		display: inline-block;
		text-align: center;
		.signup-process {
			padding-top: 30px;
			padding-bottom: 60px;	
		}
	}
	&.active {
		display: block;
	}
	display: none;
}
.signup-process-image {
	padding-right: 30px;
	padding-top: 105px;
	float: left;
	vertical-align: middle;
	a {
	width: 69px;
	height: 57px;
	display: inline-block;	
	background: url(img/signup-process-image.png) no-repeat center center;
	}
}
.signup-process {
	float: left;
	text-align: left;
}
.slider-next a {
	padding-bottom: 10px;
	@include sliders;
	background-image: url(img/slider-next.png);
}
.slider-previous a {
	padding-bottom: 25px;
	@include sliders;
	background-image: url(img/slider-previous.png);	
}
ol {
	margin-left: 1.3em;
	li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: decimal;
	}
}
.signup-process li {
	font: $body-font;
	font-size: 16px;
	line-height: 28px;
	color: $grey-color;
}
h4 {
	padding-bottom: 5px;
	font: normal 26px 'robotothin';
	text-transform: uppercase;
	color: $green-color;
}
.signup-lincs {
	padding-top: 40px;
	display: inline-block;
	text-align: center;
}
.signup-linc {
	margin-right: 30px;
	width: 170px;
	float: left;
	a {
		display: block;
		text-align: center;
	}	
	&:last-child {
		margin-right: 0;
	}	
	div {
		width: 46px;
		height: 46px;
		display: inline-block;
		text-align: center;
		border: solid 1px #61b646;
		border-radius: 100%;
		background-color: $white-color;
	}
	& .active  div {
		background-color: $green-color;
	}
	p {
		display: block;
		font-size: 12px;
		line-height: 24px;
		color: $grey-color;
	} 
}
@each $item in community-edition, complete-signup, signup {
	.#{$item}-item {
		display: block;
		background: url('img/#{$item}.png') no-repeat center center;
	}	
}
.service-package {
	@include center;
	h2 {
		padding-bottom: 40px;
	}
}
.slider-service-package {
	position: relative;
	display: inline-block;
	div {
		width: 140px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #ececec;
		a {
			height: 100%; 
			display: inline-block;
			@include font-robotoregular-black;
			font-size: 12px;
			color: $grey-color;
			letter-spacing: 0.5px;
		}
		&.active {
			background-color: $green-color;
			a {
				@include font-robotoregular-black;
				font-size: 12px;
				color: $white-color;	
			}
		}	
	}
	span {
		width: $or-width;
		height: $or-width;
		line-height: $or-width;
		left: 50%;
		top: 50%;
		margin-left: $or-width / 2 * -1;
		margin-top: $or-width / 2 * -1;
		display: inline-block;;
		vertical-align: middle;
		position: absolute;
		z-index: 2;
		border-radius: 100%;
		background-color: $intro-wrapper-color;
		@include font-robotoregular-black;
		font-size: 10px;
		color: $white-color;
	}
	.slider-business-package {
		border-right: none;
		border-top-left-radius: $service-package-radius;
		border-bottom-left-radius: $service-package-radius;
	}
	.slider-community-package {
		border-top-right-radius: $service-package-radius;
		border-bottom-right-radius: $service-package-radius;
	}
}
