$body-font: normal 13px robotolight;
$body-font-color: #000000;
$header-font-color: #fefefe;
$background-contacts: #282828;
$display-inline-block: inline-block;
$height-contacts: 40px;
$navigation-menu-height: 2 * $height-contacts;
$green-color: #5db442;
$intro-wrapper-color: #4ca368;
$border-radius: 17px;
$white-color: #ffffff;
$grey-color: #333333;
$light-grey: #ececec;
$border-light-grey: 1px solid $light-grey;
$or-width: 20px;
$service-package-radius: 14px;
$value-width: 90px;
$additional-bodyfont-color: #777777;
$newsletter-width: 330px;
$padding-top-h2: 55px; 
$padding-bottom-small-screen: 55px;